// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.post-link {
    display: inline;
    @include relative-font-size(1.2);
  }

.site-title {
    font-family: serif;
    font-size: $base-font-size * 2.25;
    font-weight: 800;
}

.site-header {
    border-top-width: 0
  }

/**
 * Reset some basic elements
 */

 body {
    margin:20px auto;
    max-width:700px;
    // padding: 0 10px;
  }

.post-title,
.post-content h1 {
  @include relative-font-size(1.8);
  font-weight: 500;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(1.8);
  }
}

.post-content {
  h2 {
    @include relative-font-size(1.66);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.66);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.5);
    }
  }
}