---
layout: default
---

<div class="home">

  {% include header.html %}

  {{ content }}

  <h2 class="page-heading">Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>

            <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            </a>
            {% if post.use_math %}
            <sup style="font-size: 10pt">[MATH]</sup>
            {% endif %}
        </h2>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
      </li>
    {% endfor %}
  </ul>

  {% include footer.html %}

</div>
